﻿<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>@ViewData["Title"]</title>

		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css"/>
		<environment include="Development">
			<link rel="stylesheet" href="~/css/site.css"/>
		</environment>
		<environment exclude="Development">
			<link rel="stylesheet" href="~/css/site.min.css"/>
		</environment>
	</head>
	<body>
		<div class="container">
			<h1>@ViewData["Title"]</h1>

			@RenderBody()
		</div>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
		@RenderSection("Scripts", required: false)
	</body>
</html>