﻿@{
	ViewData["Title"] = "URL shortener";

	string? scheme = null;

	if (Context.Request.Headers.TryGetValue("X-Forwarded-Proto", out StringValues values))
	{
		scheme = values.FirstOrDefault();
	}

	if (string.IsNullOrWhiteSpace(scheme))
	{
		scheme = Context.Request.Scheme;
	}

	string apiUrl = $"{scheme}://{Context.Request.Host}/shorten?url=%URL%";

	if (Model.RequiresPassword)
	{
		apiUrl += "&pw=<password>";
	}
}
@using Microsoft.Extensions.Primitives
@model ShortenerModel

<form action="/" method="POST">
	<div class="form-group mt-3">
		<label asp-for="LongUri">Long URL</label>
		<div class="input-group">
			<input asp-for="LongUri" class="form-control"/>
			<span class="input-group-append">
				<input id="button" type="submit" class="btn btn-secondary" value="Shorten"/>
			</span>
		</div>
	</div>
	@if (Model.RequiresPassword)
	{
		<div class="form-group mt-3">
			<label asp-for="Password">Password</label>
			<div class="input-group">
				<input asp-for="Password" class="form-control"/>
			</div>
		</div>
	}
</form>

@if (Model.Error != null)
{
	<p class="alert alert-danger mt-3">
		@Model.Error
	</p>
}

@if (Model.ShortUri != null)
{
	<p class="alert alert-success mt-3">
		<button class="btn btn-success float-right" onclick="copy('@Model.ShortUri')">Copy</button>
		<a class="align-middle" style="line-height: 40px;" href="@Model.ShortUri">@Model.ShortUri</a>
	</p>
}

<p>
	Enter your long URL and click "Shorten" to get a shortened link which will automatically redirect to the long one.
	The number of requests you can make is limited to prevent spam.
	If you see a "Service Temporarily Unavailable" error, try again in a few seconds.
</p>
<p>
	If you want to use this service in Firefox, you can install <a href="https://addons.mozilla.org/en-US/firefox/addon/copy-shorturl/">this add-on</a>.
	It adds a "Copy ShortURL" entry to the right-click menu. You just have to set "Custom URL" to <code>@apiUrl</code> in the add-on settings.
</p>
<p>
	Made by <a href="//nxs.re">nitroxis</a>. Contact me for the password or host your own.
	You can find the source code <a href="https://gitlab.com/nitroxis/urlshortener">here</a> (C#, ASP.NET Core).
</p>